<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ .Site.Params.meta.description }}"/>

    <title>{{ .Title }}</title>

    <!-- <link rel="icon" href="favicon.ico"> -->

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Inter:wght@400;500;600&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/e7e364a36d.js" crossorigin="anonymous"></script>

    <link href="/css/main.css" rel="stylesheet">
</head>